In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df = pd.DataFrame()

In [4]:
df["a"] = [1, 2]

In [6]:
df["b"] = [3, 4]

In [9]:
df[df.a == 1]

   a  b
0  1  3

In [11]:
foo = {"a": 5, "b": 7}
df.append( foo, ignore_index=True )

   a  b
0  1  3
1  2  4
2  5  7

In [12]:
df

   a  b
0  1  3
1  2  4

In [14]:
df.loc[0,"c"] = "foo"

In [15]:
df

   a  b    c
0  1  3  foo
1  2  4  NaN

In [23]:
for i, entry in enumerate( df.a ):
    df.loc[i,"d"] = entry + 1

   a  b    c  d
0  1  3  foo  2
1  2  4  NaN  3

In [12]:
DSASD
a = 1